<!doctype html>

<html>
<head>
	<title>{{title}}</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/introHCI.css" rel="stylesheet">
	<!-- this is a comment in HTML -->
      
</head>

<body>
	<div class="container-fluid">
		
	    <div class="navbar navbar-default" role="navigation">
	        <div class="navbar-header">
	          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	            <span class="sr-only">Toggle navigation</span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </button>
	          <a class="navbar-brand" href="#">Happy Thoughts</a>
	        </div>
	        <div class="navbar-collapse collapse">
	          <ul class="nav navbar-nav">
	          	{{#each navbar}}
	            	<li><a href="/{{ navbar-item }}/">{{ navbar-item }}</a></li>
	            {{/each}}
	          </ul>
	        </div><!--/.nav-collapse -->
	     </div>

	     <div class="container-fluid">
	     	<div class="row">
	     		<h1 class="well"> Home </h1>
	     	</div>
	     	<div class="row">
	     		<div class="videowrapper column-xs-6">
			    	<iframe class="column-xs-6" height="auto" class="img-responsive" src="//www.youtube.com/embed/zaGUr6wzyT8" frameborder="0" allowfullscreen></iframe>
	            	
<!-- 	            	<ul style="list-style-type: none">
	            		{{#each images}}f
	            			<li><img src="{{ imageURL }}"></li>
	            		{{/each}}
	            	</ul> -->
			    </div>
	     	</div>

	     	<div class"row" style="margin-top: 50px;">
	     		<div class="col-xs-2"></div>
	     		<button type="button" class="btn-lg btn-primary col-xs-3" style="margin-bottom: 30px;"> Previous </button>
			    <div class="col-xs-2"></div>
			    <button type="button" class="btn-lg btn-primary col-xs-3" style="margin-bottom: 30px;"> Next </button>
			    <div class="col-xs-2"></div>
		    </div>
	     </div>

	</div>

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/base.js"></script>
</body>
</html>
